project_1/data/
project_1/clustering/nonlinear/tsne_parameter_exploration/
project_1/clustering/nonlinear/umap_parameter_exploration/


project_2/dNdSpy/data/
project_2/dNdSpy/results/
project_2/dNdSpy/useless_code/
project_2/dNdSpy/results_directory_glm/
project_2/dNdSpy/results_directory_debug_final/
project_2/dNdSpy/results_directory_debug_final_2/
project_2/dNdSpy/results_directory_debug_2/
project_2/dNdSpy/results_directory_debug/
project_2/dNdSpy/results_directory_neg_null/
project_2/data/
project_2/.pybiomart.sqlite
project_2/results/
project_2/dNdSpy/__pycache__

project_3/data/
project_3/matrix_generator/__pycache__
project_3/output/
